$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$darkblue: hsl(234, 12%, 34%);
$grisbleu: hsl(229, 6%, 66%);
$grisclair: hsl(0, 0%, 98%);


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: $grisclair;

    p {
        font-weight: 400;
        text-align: center;
        color: $grisbleu;
        margin: 0px;
    }

    h1 {
        margin: 0px;
    }
}

.titre {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;

    .titre__light {
        font-weight: 200;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .titre__big {
        font-weight: 600;
        text-align: center;
        padding: 0;
        margin: 0;
    }

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    p h1 {
        padding: 8px;
        text-align: left;
        margin: 0px;
    }

    p {
        font-size: 0.7em;
    }

    h1 {
        font-size: 1em;
    }

    @mixin maCard {
        box-shadow: -5px 8px 28px -18px;
        width: 70%;
        display: flex;
        flex-direction: column;
        // border:solid red 3px;
        text-align: left;
        margin: 10px;
        padding: 10px;

        border-radius: 10px;
    }

    @mixin monImage {
        align-self: flex-end;
    }



    .supervisor {

        @include maCard;
        border-top: solid 5px $cyan;



        .loupe {
            @include monImage;


        }

    }

    .builder {

        @include maCard;
        border-top: solid 5px $red;


        .maison {
            @include monImage;
        }
    }

    .karma {
        @include maCard;
        border-top: solid 5px $orange;

        .ampoule {
            @include monImage;
        }


    }

    .calculator {
        @include maCard;
        border-top: solid 5px $blue;

        .ecran {
            @include monImage;
        }

    }

}

// media query pour grand écran
@media only screen and (min-width:1200px) {
    @mixin maBox {
        width: 100%;
        margin: 0px;
        padding: 10px;

    }

    .card {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 10px;


        .builder {
            grid-area: 2 / 3 / 4 / 4;
            @include maBox;

        }

        .karma {
            grid-area: 4 / 3 / 6 / 4;
            @include maBox;

        }

        .calculator {
            grid-area: 3 / 4 / 5 / 5;
            @include maBox;

        }

        .supervisor {
            grid-area: 3 / 2 / 5 / 3;
            @include maBox;

        }

    }
}